/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require sidebar
 *= require simple_calendar
 */

 .head-nav a {
   color: white !important;
 }

 .head-nav {
  text-align: right;
  text-transform: uppercase;
  font-size: 23px;
  padding-right: 10px;
  background-color: #000;
 }

 .objectives {
   border: 2px solid lightgrey;
   box-shadow: 1px 1px 1px #888888;
   border-radius: 10px;
   padding: 10px;
   background-color: white;
   min-height: 550px;
 }

 .objective {
   border: 1px solid lightgrey;
   box-shadow: 1px 1px 1px #888888;
   border-radius: 10px;
   padding: 10px;
   background-color: white;
   margin: 5px;
 }

 .objective:hover {
   border: 3px solid lightgrey;
 }

 .red {
   margin-top: 14px;
   background: #d9534f;
   width: 20px;
   height: 20px;
   border-radius: 100%;
 }

 .green {
   margin-top: 14px;
   background: #5cb85c;
   width: 20px;
   height: 20px;
   border-radius: 100%;
 }

 .yellow {
   margin-top: 14px;
   background: #f0ad4e;
   width: 20px;
   height: 20px;
   border-radius: 100%;
 }

 #progress {
   text-align: right;
 }
 .status {
   margin-left: 0px;
 }
